<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48466133002-uh673p2noki8q8m7n0ort2jl83vp23ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48466133002-uh673p2noki8q8m7n0ort2jl83vp23ij</string>
	<key>API_KEY</key>
	<string>AIzaSyD0DImV_u_GQ4fRwLT8pVDM_IZWWgdB9R4</string>
	<key>GCM_SENDER_ID</key>
	<string>48466133002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ciccc.ca.korosaka.RamenShopApp</string>
	<key>PROJECT_ID</key>
	<string>ramenshopsearching-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ramenshopsearching-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48466133002:ios:9b720471b951b6dc095ff3</string>
	<key>DATABASE_URL</key>
	<string>https://ramenshopsearching-ios.firebaseio.com</string>
</dict>
</plist>